<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <!-- 변수를 사용하고 싶을 때는 <%= %> -->
  <!-- 인클루드를 사용하고 싶을 때는 <%- %> -->
  <!-- 자바스크립트를 사용하고 싶을 때는 <% %> -->
  <%- include("./common") %>
    <% for(let i=0; i < data.length; i++) { %>
      <div style="background: pink; width: 100px; height: 100px;">
        <%= data[i].name %>
      </div>
      <% } %>
</body>

</html>